block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    p.title Album Name: #{albumName}
    p.discribtion Artist: #{artistName}
    p.discribtion Release Date: #{releaseDate}
    img(src= image class="imgformat")


